<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>مُعِين</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/Content/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="/static/Content/css/plugins/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/Content/css/grad-style.css">
    <!-- Morris Charts CSS -->
    <link href="/static/Content/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/Content/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/Content/css/normalize.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body style="font-family: 'Tajawal', sans-serif;">
    <div class="row">
        <div class="col md5">
            <h1 style="font-family: 'Tajawal', sans-serif; color:white; text-align: center;">
                مُعِين</h1>


            <h6 class="text-light med font-weight-bold"
                style="font-family: 'Tajawal', sans-serif; color:white; text-align: center;"> v 1.0 </h6>

            <br /><i class="fas fa-robot"></i>
        </div>
    </div>
    <form method="POST">
        <button class="btn-floating btn-large waves-effect waves-light red pulse" name="button" id="myButton">
            <i class="small material-icons"></i>
        </button>
    </form>
    
    </br>
    </br>
    {{message}}
    


    <!-- partial -->
    <!-- jQuery Version 1.11.0 -->
    <script src="/static/Scripts/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/Scripts/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/Scripts/js/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/Scripts/js/sb-admin-2.min.js"></script>

    <script>
        function send_audio() {
            data = "I want to send this to backend"
            document.getElementById("myButton").value = data;

        }
    </script>




    <audio autoplay>
        <source src="/static/audios/entry_audio.wav" type="audio/wav">
      </audio>
      

</body>

</html>